<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mini_projet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_Projet">
        <activity
            android:name=".gui.MesTrajetsActivity"
            android:exported="false" />
        <activity
            android:name=".gui.AjouterTrajetActivity"
            android:exported="false" />
        <activity
            android:name=".gui.AccueilActivity"
            android:exported="false" />
        <activity
            android:name=".gui.InscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".gui.ConnexionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>